@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

:root{
    --header-color: #0C0F0A;
    --content-bg: #1C1C1C;
    --pg-font: 'Cormorant Infant', serif;
    --text-color: #E5EAFA;
}

*{
    box-sizing: border-box;
    
}

body {
    margin: 0px;
    min-width: 40rem;
}

p {
    margin: 0px;
    word-break: break-all;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr;

    font-family: var(--pg-font)
}

.header {
    grid-row: 1;
    background-color: var(--header-color); 
    color: var(--text-color);
    font-size: 2.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.content {
    grid-row: 2;
    background-color: var(--content-bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='90' height='90'%3E%3Cpath fill='%23d1f0b1' fill-opacity='0.2' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

.stats {
    color: var(--text-color);
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info {
    display: flex;
    grid-column: 2;
    font-size: 1.6rem;
    background-color: #AA4465;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

.books {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.bookTiles {
    grid-column: 2;

    display: grid;
    grid-template: 1fr 1fr 1fr / repeat(auto-fill, minmax(15rem, 20rem));
    gap: 3rem;
}

.tile {
    background-color: #D5A021;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
}

.addBtn {
    position: sticky;
    margin-left: clamp(35rem, 90%, 90%);
    bottom: 3rem;

    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    border-radius: 35px;

    background-color: #D6FFB7;
    border: 0px;
}

.addBtn:hover {
    background-color: #68EDC6;
}
